
@media(max-width:649px){
    .footer{
        display:flex;
        justify-content: space-around;
        flex-direction: column;
     background: hsl(12, 88%, 59%);
    
    
    }
    .img1{
        width:200px;
        height:40px;
        color:white;
        margin: 0px auto;
    }
    img{
        width:20px;

    }
    .sec{
     display:flex;
     flex-direction: column;
     height:fit-content;
     background-image: url('./bg-simplify-section-desktop.svg');
     align-items: center;
     
    }
.amin{
    display:flex;
    justify-content: space-around;
}
.grid2{
    display:flex;
    flex-direction: column;
 
}
.grid3{
    display:flex;
    flex-direction: column;
}
.flex1{
    display: flex;
    flex-direction: column;

}
.flex{
    display:flex;
    justify-content: space-around;
}


.grid1{
    display:grid;
    grid-template-rows: 20% 10%;
    grid-row-gap:60%;
    width: 150px;
    margin-left:-100px;
}

    .sec1{
       display:none;
    }
    .sec1m{
       background: hsl(233, 12%, 13%);
       display:flex;
       flex-direction:column;
       justify-content: space-around;
       padding:10px;
       
       height:500px

    }
    .p{
        font-size:26px;
        color:white;
        font-weight: bold;
        width:60%;
    }
    .btn{
        border: none;
        color: hsl(12, 88%, 59%);
        background: hsl(13, 100%, 96%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
        width:130px;
        margin: 10px 0px;
    }
    button.btn:hover{
        border: none;
        color:hsl(12, 88%, 72%);
        background: hsl(13, 100%, 96%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
        width:130px;
        cursor:pointer;
    }
    
 
    .p1{
        color: hsl(227, 12%, 81%);
        margin: 0px;
    }
    .p3{
        color: hsl(227, 12%, 81%);
        margin: 0px;
    }
    .p3:hover{
        color:hsl(12, 88%, 59%);
        margin: 0px;
        cursor:pointer;
    }
    .form{
        display: grid;
        grid-template-columns: 80% 5%;
        grid-column-gap:3%;
    }
    .btn1m{
        border: none;
        color:hsl(13, 100%, 96%);
        background: hsl(12, 88%, 59%);
        border-radius: 14px;
        font-size: 11px;
        width:50px;
    }
    button.btn1m:hover{
        cursor:pointer;
        border: none;
        color:hsl(13, 100%, 96%);
        background: hsl(12, 88%, 72%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
    
    }


    .input{
        color: hsl(227, 12%, 61%);
        border:none;
        outline:none;
        padding: 10px 16px;
        border-radius: 20px;
    }
    .p2{
        color: hsl(227, 12%, 61%);
        font-size: 11px;
        text-align: center;
    }
    .red{
        color:brown;
        font-size:12px;
        margin-left: 3px;
    }
}
@media(min-width:650px){
    .sec1m{
        display:none;
    }
    .footer{
        display:grid;
        grid-template-rows: 43% 57%;
        width:100vw;
       height:350px;
     background: hsl(12, 88%, 59%);
    
    
    }
    .img1{
        width:100px;
    }
    img{
        width:20px;
    }
    .sec{
     display:grid;
     grid-template-columns: 1% 30% 5% 10%;
     grid-column-gap:10%;
     width:100vw;
     background-image: url('./bg-simplify-section-desktop.svg');
     align-items: center;
     
    }

    .sec1{
        background: hsl(233, 12%, 13%);
      display: grid;
      grid-template-columns: 1% 10%  25%  15%  15%   ;
      grid-column-gap:6%;
        padding: 30px 0px;
    
        
    }
    .p{
        font-size:23px;
        color:white;
        font-weight: bold;
    }
    .btn{
        border: none;
        color:hsl(12, 88%5, 59%);
        background: hsl(13, 100%, 96%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
        width:130px;
    }
    button.btn:hover{
        border: none;
        color:hsl(12, 88%, 72%);
        background: hsl(13, 100%, 96%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
        width:130px;
        cursor:pointer;
    }
    
    .grid2{
        display:grid;
        grid-template-rows: 20% 20% 20% 20%;
        grid-row-gap:3.33333%;
        height:150px;
    }
    .grid3{
        display: grid;
        grid-template-rows: 20% 20% 20%;
        margin:0px -80px;
    }
    .flex1{
        display: flex;
        flex-direction: column;
    
    }
    .flex{
        display:grid;
        grid-template-columns: 10% 10% 10% 10% 10% ;
        grid-column-gap:10%;
    }
    .p1{
        color: hsl(227, 12%, 81%);
        margin: 0px;
    }
    .p3{
        color: hsl(227, 12%, 81%);
        margin: 0px;
    }
    .p3:hover{
        color:hsl(12, 88%, 59%);
        margin: 0px;
        cursor:pointer;
    }
    .form{
        display: grid;
        grid-template-columns: 67% 25%;
        grid-column-gap:3%;
    }
    .btn1{
        border: none;
        color:hsl(13, 100%, 96%);
        background: hsl(12, 88%, 59%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
    }
    button.btn1:hover{
        cursor:pointer;
        border: none;
        color:hsl(13, 100%, 96%);
        background: hsl(12, 88%, 72%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
    
    }

    .grid{
        display:grid;
        grid-template-rows: 60% 10%;
        z-index:3;
        height:150px;
    }
    .input{
        color: hsl(227, 12%, 61%);
        border:none;
        outline:none;
        padding: 10px 16px;
        border-radius: 20px;
    }
    .grid1{
        display:grid;
        grid-template-rows: 20% 10%;
        grid-row-gap:60%;
        width: 150px;
        margin-left:-100px;
    }
    .p2{
        color: hsl(227, 12%, 61%);
        font-size: 11px;
        text-align: center;
    }
    .red{
        color:brown;
        font-size:12px;
        margin-left: 3px;
    }
}

@media(min-width:725px){
    .footer{
        display:grid;
        grid-template-rows: 43% 57%;
        width:100vw;
       height:350px;
     background: hsl(12, 88%, 59%);
    
    
    }
    .img1{
        width:150px;
    }
    .sec{
     display:grid;
     grid-template-columns: 1% 30% 15% 10%;
     grid-column-gap:10%;
     width:100vw;
     background-image: url('./bg-simplify-section-desktop.svg');
     align-items: center;
     
    }
    
    .sec1{
        background: hsl(233, 12%, 13%);
      display: grid;
      grid-template-columns: 6% 15%  15%  15%  15%   ;
      grid-column-gap:5%;
        padding: 30px 0px;
    
        
    }
    .p{
        font-size:30px;
        color:white;
        font-weight: bold;
    }
    .btn{
        border: none;
        color:hsl(12, 88%, 59%);
        background: hsl(13, 100%, 96%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
        width:130px;
    }
    button.btn:hover{
        border: none;
        color:hsl(12, 88%, 72%);
        background: hsl(13, 100%, 96%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
        width:130px;
        cursor:pointer;
    }
    
    .grid2{
        display:grid;
        grid-template-rows: 20% 20% 20% 20%;
        grid-row-gap:3.33333%;
        height:150px;
    }
    .grid3{
        display: grid;
        grid-template-rows: 20% 20% 20%;
    }
    .flex1{
        display: flex;
        flex-direction: column;
    
    }
    .flex{
        display:grid;
        grid-template-columns: 10% 10% 10% 10% 10% ;
        grid-column-gap:10%;
    }
    .p1{
        color: hsl(227, 12%, 81%);
        margin: 0px;
    }
    .p3{
        color: hsl(227, 12%, 81%);
        margin: 0px;
    }
    .p3:hover{
        color:hsl(12, 88%, 59%);
        margin: 0px;
        cursor:pointer;
    }
    .form{
        display: grid;
        grid-template-columns: 67% 25%;
        grid-column-gap:3%;
    }
    .btn1{
        border: none;
        color:hsl(13, 100%, 96%);
        background: hsl(12, 88%, 59%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
    }
    button.btn1:hover{
        cursor:pointer;
        border: none;
        color:hsl(13, 100%, 96%);
        background: hsl(12, 88%, 72%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
    
    }
    .grid{
        display:grid;
        grid-template-rows: 80% 10%;
    
        height:150px;
    }
    .input{
        color: hsl(227, 12%, 61%);
        border:none;
        outline:none;
        padding: 10px 16px;
        border-radius: 20px;
    }
    .grid1{
        display:grid;
        grid-template-rows: 20% 10%;
        grid-row-gap:60%;
        width: 150px;
        margin-left:-70px;

    }
    .p2{
        color: hsl(227, 12%, 61%);
        font-size: 11px;
        text-align: center;
    }
    .red{
        color:brown;
        font-size:12px;
        margin-left: 3px;
    }
}

@media(min-width:1115px){
    .footer{
        display:grid;
        grid-template-rows: 43% 57%;
        width:100vw;
       height:350px;
     background: hsl(12, 88%, 59%);
    
    
    }
    .img1{
        width:150px;
    }
    .sec{
     display:grid;
     grid-template-columns: 1% 30% 15% 10%;
     grid-column-gap:10%;
     width:100vw;
     background-image: url('./bg-simplify-section-desktop.svg');
     align-items: center;
     
    }
    
    .sec1{
        background: hsl(233, 12%, 13%);
      display: grid;
      grid-template-columns: 6% 15%  15%  15%  15%   ;
      grid-column-gap:5%;
        padding: 30px 0px;
    
        
    }
    .p{
        font-size:36px;
        color:white;
        font-weight: bold;
    }
    .btn{
        border: none;
        color:hsl(12, 88%, 59%);
        background: hsl(13, 100%, 96%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
        width:130px;
    }
    button.btn:hover{
        border: none;
        color:hsl(12, 88%, 72%);
        background: hsl(13, 100%, 96%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
        width:130px;
        cursor:pointer;
    }
    
    .grid2{
        display:grid;
        grid-template-rows: 20% 20% 20% 20%;
        grid-row-gap:3.33333%;
        height:150px;
    }
    .grid3{
        display: grid;
        grid-template-rows: 20% 20% 20%;
    }
    .flex1{
        display: flex;
        flex-direction: column;
    
    }
    .flex{
        display:grid;
        grid-template-columns: 10% 10% 10% 10% 10% ;
        grid-column-gap:6%;
    }
    .p1{
        color: hsl(227, 12%, 81%);
        margin: 0px;
    }
    .p3{
        color: hsl(227, 12%, 81%);
        margin: 0px;
    }
    .p3:hover{
        color:hsl(12, 88%, 59%);
        margin: 0px;
        cursor:pointer;
    }
    .form{
        display: grid;
        grid-template-columns: 67% 25%;
        grid-column-gap:3%;
    }
    .btn1{
        border: none;
        color:hsl(13, 100%, 96%);
        background: hsl(12, 88%, 59%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
    }
    button.btn1:hover{
        cursor:pointer;
        border: none;
        color:hsl(13, 100%, 96%);
        background: hsl(12, 88%, 72%);
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 16px;
    
    }
    .grid{
        display:grid;
        grid-template-rows: 80% 10%;
    
        height:150px;
    }
    .input{
        color: hsl(227, 12%, 61%);
        border:none;
        outline:none;
        padding: 10px 16px;
        border-radius: 20px;
    }
    .grid1{
        display:grid;
        grid-template-rows: 20% 10%;
        grid-row-gap:60%;
        width: 150px;
        margin-left:0px;

    }
    .p2{
        color: hsl(227, 12%, 61%);
        font-size: 11px;
        text-align: center;
    }
    .red{
        color:brown;
        font-size:12px;
        margin-left: 3px;
    }
}
/*
.footer{
    display:grid;
    grid-template-rows: 43% 57%;
    width:100vw;
   height:350px;
 background: hsl(12, 88%, 59%);


}

.sec{
 display:grid;
 grid-template-columns: 1% 30% 15% 10%;
 grid-column-gap:10%;
 width:100vw;
 background-image: url('./bg-simplify-section-desktop.svg');
 align-items: center;
 
}

.sec1{
    background: hsl(233, 12%, 13%);
  display: grid;
  grid-template-columns: 6% 15%  15%  15%  15%   ;
  grid-column-gap:5%;
    padding: 30px 0px;

    
}
.p{
    font-size:36px;
    color:white;
    font-weight: bold;
}
.btn{
    border: none;
    color:hsl(12, 88%, 59%);
    background: hsl(13, 100%, 96%);
    border-radius: 20px;
    font-size: 11px;
    padding: 10px 16px;
    width:130px;
}
button.btn:hover{
    border: none;
    color:hsl(12, 88%, 72%);
    background: hsl(13, 100%, 96%);
    border-radius: 20px;
    font-size: 11px;
    padding: 10px 16px;
    width:130px;
    cursor:pointer;
}

.grid2{
    display:grid;
    grid-template-rows: 20% 20% 20% 20%;
    grid-row-gap:3.33333%;
    height:150px;
}
.grid3{
    display: grid;
    grid-template-rows: 20% 20% 20%;
}
.flex1{
    display: flex;
    flex-direction: column;

}
.flex{
    display:grid;
    grid-template-columns: 10% 10% 10% 10% 10% ;
    grid-column-gap:4%;
}
.p1{
    color: hsl(227, 12%, 81%);
    margin: 0px;
}
.p3{
    color: hsl(227, 12%, 81%);
    margin: 0px;
}
.p3:hover{
    color:hsl(12, 88%, 59%);
    margin: 0px;
    cursor:pointer;
}
.form{
    display: grid;
    grid-template-columns: 67% 25%;
    grid-column-gap:3%;
}
.btn1{
    border: none;
    color:hsl(13, 100%, 96%);
    background: hsl(12, 88%, 59%);
    border-radius: 20px;
    font-size: 11px;
    padding: 10px 16px;
}
button.btn1:hover{
    cursor:pointer;
    border: none;
    color:hsl(13, 100%, 96%);
    background: hsl(12, 88%, 72%);
    border-radius: 20px;
    font-size: 11px;
    padding: 10px 16px;

}
.grid{
    display:grid;
    grid-template-rows: 80% 10%;

    height:150px;
}
.input{
    color: hsl(227, 12%, 61%);
    border:none;
    outline:none;
    padding: 10px 16px;
    border-radius: 20px;
}
.grid1{
    display:grid;
    grid-template-rows: 20% 10%;
    grid-row-gap:60%;
    width: 150px;
        margin-left:0px;

}
.p2{
    color: hsl(227, 12%, 61%);
    font-size: 11px;
    text-align: center;
}
.red{
    color:brown;
    font-size:12px;
    margin-left: 3px;
}
Bright Red: hsl(12, 88%, 59%)
Dark Blue: hsl(228, 39%, 23%)

### Neutral

Dark Grayish Blue: hsl(227, 12%, 61%)
Very Dark Blue: hsl(233, 12%, 13%)
Very Pale Red: hsl(13, 100%, 96%)
Vary Light Gray: hsl(0, 0%, 98%)
*/