@media(max-width:649px){
    .sec2{
        display:flex;
        flex-direction: column;
        align-items: center;
     justify-content:space-between;
     height:400px;
     margin-bottom: 50px;
    }
    .divm{
        display:flex;
        justify-content: space-around;
       margin:10px auto;
        width:100px;



    }
    .artm{
        width:7px;
        height:7px;
        border-radius:100%;
        background:white;
        border:1px solid hsl(12, 88%, 59%);
    }
    .artm1{
        width:7px;
        height:7px;
        border-radius:100%;
        background: hsl(12, 88%, 59%);
        border:1px solid hsl(12, 88%, 59%);
    }
    .h2{
        color: hsl(233, 12%, 30%);
        font-size: 26px;
      }
      .main{
        display:none;
       }
       .art2{
        background:hsl(0, 0%, 98%);
        display:flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin: 0px 4vw;

    }
    .img4{
        width:50px;
        position: absolute;
        top:-25px;
    
    }
    .p6{
        margin: 30px 0px;
        margin-bottom: 15px;
        color:hsl(233, 12%, 40%);
        font-weight: bold;
    }
    .p7{
        color:hsl(227, 12%, 61%);
        font-size: 13px;
        height:100px;
        width:72%;
        line-height: 23px;
        text-align:center;
        padding: 3px 6px;
    
    }
    .btn2 {
        border: none;
        color: hsl(13, 100%, 96%);
        backgrou\nd: hsl(12, 88%, 59%);
        border-radius: 20px;
        font-size: 11px;
        width: 100px;
        padding: 10px 16px;
        box-shadow: 0px 4px 10px hsl(12, 88%, 75%);
      }
      button.btn2:hover {
        border: none;
        color: hsl(13, 100%, 96%);
        background: hsl(12, 88%, 72%);
        border-radius: 20px;
        font-size: 11px;
        width: 100px;
        padding: 10px 16px;
        box-shadow: 0px 4px 10px hsl(12, 88%, 75%);
        cursor: pointer;
      }
    
}


@media(min-width:650px){
.sec2{
    display:flex;
    flex-direction: column;
    align-items: center;
 justify-content:space-between;
 height:400px;
 margin-bottom: 50px;


}
.secm{
    display:none;
}
.h2{
    color: hsl(233, 12%, 30%);
    font-size: 26px;
  }
  .main{
    display:flex;
    justify-content:space-evenly;
   }
   .art2{
    background:hsl(0, 0%, 98%);
    display:flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    position: relative;
}
.img4{
    width:50px;
    position: absolute;
    top:-25px;

}
.p6{
    margin: 30px 0px;
    margin-bottom: 15px;
    color:hsl(233, 12%, 40%);
    font-weight: bold;
}
.p7{
    color:hsl(227, 12%, 61%);
    font-size: 12px;
    text-align:center;
    padding: 3px 6px;

}
.btn2 {
    border: none;
    color: hsl(13, 100%, 96%);
    background: hsl(12, 88%, 59%);
    border-radius: 20px;
    font-size: 11px;
    width: 100px;
    padding: 10px 16px;
    box-shadow: 0px 4px 10px hsl(12, 88%, 75%);
  }
  button.btn2:hover {
    border: none;
    color: hsl(13, 100%, 96%);
    background: hsl(12, 88%, 72%);
    border-radius: 20px;
    font-size: 11px;
    width: 100px;
    padding: 10px 16px;
    box-shadow: 0px 4px 10px hsl(12, 88%, 75%);
    cursor: pointer;
  }

}
@media(min-width:870px){
   .secm{
    display:none;
}
.sec2{
    display:flex;
    flex-direction: column;
    align-items: center;
 justify-content:space-between;
 height:400px;
 margin-bottom: 50px;


}
.h2{
    color: hsl(233, 12%, 30%);
    font-size: 30px;
  }
  .main{
    display:flex;
    justify-content:space-evenly;
   }
   .art2{
    background:hsl(0, 0%, 98%);
    display:flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    position: relative;
}
.img4{
    width:50px;
    position: absolute;
    top:-25px;

}
.p6{
    margin: 30px 0px;
    margin-bottom: 15px;
    color:hsl(233, 12%, 40%);
    font-weight: bold;
}
.p7{
    color:hsl(227, 12%, 61%);
    font-size: 14px;
    text-align:center;
    padding: 3px 6px;

}
.btn2 {
    border: none;
    color: hsl(13, 100%, 96%);
    background: hsl(12, 88%, 59%);
    border-radius: 20px;
    font-size: 11px;
    width: 100px;
    padding: 10px 16px;
    box-shadow: 0px 4px 10px hsl(12, 88%, 75%);
  }
  button.btn2:hover {
    border: none;
    color: hsl(13, 100%, 96%);
    background: hsl(12, 88%, 72%);
    border-radius: 20px;
    font-size: 11px;
    width: 100px;
    padding: 10px 16px;
    box-shadow: 0px 4px 10px hsl(12, 88%, 75%);
    cursor: pointer;
  }

}

@media(min-width:1115px){
   .secm{
    display:none;
}
.sec2{
    display:flex;
    flex-direction: column;
    align-items: center;
 justify-content:space-between;
 height:400px;
 margin-bottom: 50px;

}
.h2{
    color: hsl(233, 12%, 30%);
    font-size: 30px;
  }
  .main{
    display:flex;
    justify-content:space-evenly;
   }
   .art2{
    background:hsl(0, 0%, 98%);
    display:flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    position: relative;
}
.img4{
    width:50px;
    position: absolute;
    top:-25px;

}
.p6{
    margin: 30px 0px;
    margin-bottom: 15px;
    color:hsl(233, 12%, 40%);
    font-weight: bold;
}
.p7{
    color:hsl(227, 12%, 61%);
    font-size: 14px;
    text-align:center;
    padding: 3px 6px;

}
.btn2 {
    border: none;
    color: hsl(13, 100%, 96%);
    background: hsl(12, 88%, 59%);
    border-radius: 20px;
    font-size: 11px;
    width: 130px;
    padding: 10px 16px;
    box-shadow: 0px 4px 10px hsl(12, 88%, 75%);
  }
  button.btn2:hover {
    border: none;
    color: hsl(13, 100%, 96%);
    background: hsl(12, 88%, 72%);
    border-radius: 20px;
    font-size: 11px;
    width: 130px;
    padding: 10px 16px;
    box-shadow: 0px 4px 10px hsl(12, 88%, 75%);
    cursor: pointer;
  }

}
/*.sec2{
display:flex;
flex-direction: column;
align-items: center;
justify-content:space-between;
height:400px;

}
.h2{
color:hsl(233, 12%, 30%);
font-size:36px;
}
.main{
display:flex;
justify-content:space-evenly;
}
.art2{
background:hsl(0, 0%, 98%);
display:flex;
flex-direction: column;
align-items: center;
width:30%;
position: relative;
}
.img4{
width:50px;
position: absolute;
top:-25px;

}
.p6{
margin: 30px 0px;
margin-bottom: 15px;
color:hsl(233, 12%, 40%);
font-weight: bold;
}
.p7{
color:hsl(227, 12%, 61%);
font-size: 14px;
text-align:center;
padding: 3px 6px;

}
.btn2{
border: none;
color:hsl(13, 100%, 96%);
background: hsl(12, 88%, 59%);
border-radius: 20px;
font-size: 11px;
padding: 10px 16px;
margin:20px ;
width:130px;
box-shadow: 0px 4px 10px hsl(12, 88%, 75%);
}
button.btn2:hover{
border: none;
color:hsl(13, 100%, 96%);
background: hsl(12, 88%, 72%);
border-radius: 20px;
font-size: 11px;
margin:20px ;
width:130px;
padding: 10px 16px;
box-shadow: 0px 4px 10px hsl(12, 88%, 75%);
cursor: pointer;
}


.secfind{
    width:100vw;
    overflow-x: scroll;

  }
  .main{
    display:flex;
    justify-content:space-evenly;
 
    height:500px;
   }
   .art2{
    background:hsl(0, 0%, 98%);
    display:flex;
    flex-direction: column;
    align-items: center;
    width:500px;
    position: relative;
}

























import React,{useState} from 'react'
import classes from './Comments.module.css'
import rich from './avatar-richard.png'
import ani from './avatar-anisha.png'
import ali from './avatar-ali.png'
import gou from './avatar-shanai.png'

const Comments=()=>{
    const [val, setVal]= useState(1)
    const arr1=[ani,ali,rich]
    const arr=[
        {id:0, name:'Anisha LI', comment:` "Manage has supercharged our team's workflow. The ability to maintain visibility on longer milestones at all times keeps everyone motivated."
        `},{id:1,name:`Ali Bravo`, comment:` e have been able to cancel so many other subscriptions since using Manage. There is no more cross-channel confusion and everyone is much more focused."
        `},{id:2,name:`Richard Watts`, comment:`"Manage allows us to provide structure and process. It keeps us organized and focused. I can't stop recommending them everyone I talk to!"`}
        ,{id:3,name:`Shanai Gough`, comment:`'Their software allows us to track, manage and  collaborate on our projects from anywhere. It keeps the whole team in-sync without being intrusive.'`}

    ]
    const zero=()=>{
        return setVal(0)
    }
    const one =()=>{
        return setVal(1)
}

const two=()=>{
    return setVal(2)
}
    return <React.Fragment>
<section className={classes.sec2}>
    <h2 className={classes.h2}>What they've said</h2>
  { //<section className={classes.secfind}></section>
  }  

    <main className={classes.main}>
        
        <article className={classes.art2}>
        <img src={ani} alt='anisha' className={classes.img4}/>
            <p className={classes.p6}>Anisha LI</p>
         <p className={classes.p7}>"Manage has supercharged our team's workflow. The ability to maintain visibility on longer milestones at all times keeps everyone motivated."
         </p>
        </article>

        <article className={classes.art2}>
        <img src={ali} alt='ali bravo' className={classes.img4}/>
        <p className={classes.p6}>Ali Bravo</p>
        <p className={classes.p7}>"We have been able to cancel so many other subscriptions since using Manage. There is no more cross-channel confusion and everyone is much more focused."
        </p>
        </article>

        <article className={classes.art2}>
        <img src={rich} alt='richard' className={classes.img4}/>
        <p className={classes.p6}>Richard Watts</p>
        <p className={classes.p7}>"Manage allows us to provide structure and process. It keeps us organized and focused. I can't stop recommending them everyone I talk to!"</p>
        </article>

       <article className={classes.art2}>
        <img src={gou} alt='shanai Gough' className={classes.img4}/>
        <p className={classes.p6}>Shanai Gough</p>
        <p className={classes.p7}>'Their software allows us to track, manage and  collaborate on our projects from anywhere. It keeps the whole team in-sync without being intrusive.' </p>
        </article>

    </main>
  

    <section className={classes.secm}>
    <article className={classes.art2}>
        <img src={arr1[val]} alt='person' className={classes.img4}/>
            <p className={classes.p6}>{arr[val]['name']}</p>
         <p className={classes.p7}> {arr[val]['comment']}</p>
        </article>
        <div className={classes.divm}>
            <div onClick={zero} className={val===0?`${classes.artm1}`:`${classes.artm}`}></div>
            <div onClick={one} className={val===1?`${classes.artm1}`:`${classes.artm}`}></div>
            <div onClick={two} className={val===2?`${classes.artm1}`:`${classes.artm}`}></div>
        </div>
    </section>
    <button type='button' className={classes.btn2}>Get started</button>
</section>
{

    /** 
        <article className={classes.art2}>
        <img src={gou} alt='shanai Gough' className={classes.img4}/>
        <p className={classes.p6}>Shanai Gough</p>
        <p className={classes.p7}>'Their software allows us to track, manage and  collaborate on our projects from anywhere. It keeps the whole team in-sync without being intrusive.' </p>
        </article>
    }
    </React.Fragment>
}
export default Comments
*/